*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 8rem;
}
a{
    text-decoration: 0;
}
.first{
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;

}
.f-left{

    width: 45%;
}
.f-left h1{
    font-weight: 400;
    color: #363D47;
    font-size: 47px;
}
.f-left p{
    color: #68707A;
    font-size: 22px;
    margin-bottom: 3rem;
}
.f-right{

    width: 45%;
}
.f-right img{
    width: 100%;
}
.btn-1{
    font-size: 18px;
    color: #fff;
    background-color: #0061F2;
    padding: 16px 26px;
    border-radius: 6px;
}
.btn-2{
    font-size: 18px;
    color: #0061F2;
    background-color: #DAE7FB;
    padding: 16px 26px;
    border-radius: 6px;
    margin-left: 15px;
}

.second{
    padding-top: 100px;
    justify-content: center;
}
.s-top{
    width: 55%;
    text-align: center; 
}
.s-top span{
    color: #0061F2;
    background-color: #DAE7FB;
    padding: 8px 14px;
    border-radius: 16px;
    font-size: 12px;
}
.s-top h2{
    color: #363D47;
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0 10px 0;
}
.s-top p{
    color: #69707A;
    font-size: 17px;

}
.s-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.s-box{
    margin-top: 20px;
    width: 31%;
}
.s-box img{
    width: 100%;
}

.s-box h6{
    font-weight: 400;
}
@media screen and (max-width: 600px)  {
   .container{
    padding: 0 3rem !important;
   }
    .f-left{
        width: 100%;
        
    }
    .f-right{
        display: none;
    }
    .s-top{
        width: 100%;
    }
    .s-box{
        width: 100%;
    }

}
.thrid{
    padding: 50px 0;
    justify-content: center;
}
.t-bottom{
    display: flex;
    flex-wrap: wrap;

}
.t-box{
    padding: 10px 45px;
    

}
.t-box h6 {
    margin-bottom: 10px;
}
.t-box a {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid  rgba(0,0,0,.125);
    color: #212832;
    font-size: 14px;
    transition: .4s;
}
.t-box a:hover{
    background-color: #e7ecf5;
}
.t-box i{
    color: #69707A;
}
a:first-of-type{
    border-radius: 7px 7px 0 0;
}
a:last-child{
    border-radius: 0 0 7px 7px;
}
.bac{
    background-color: #F2F6FC;
    
}
.four{
    padding: 70px 0 50px 0;
    justify-content: center;
    
}



